.v-list-item__overlay {
  background: transparent !important;
}

.sidenav .v-list-item__prepend {
  font-size: 24px;
  margin-left: -6px;
}

.v-main {
  max-width: 100%;
  max-height: 100%;
  height: 100%;
}

::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 25px;
  background: rgb(var(--v-theme-surface-bright));
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(var(--v-theme-primary));
}

.panel-container {
  height: 100%;

  .v-window-item {
    height: 100%;

    .v-sheet {
      height: 100%;
    }
  }
}

html,
body,
#app {
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.shortcut-bar-container {
  height: 100%;
  width: 4rem;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.shortcut-bar-led-btn {
  width: 100% !important;
  border-radius: 5px;
  margin-bottom: 5px;
  flex-shrink: 0;
}

.shortcut-bar-list {
  width: 100%;
  flex: 1;
  min-height: calc(100vh - 70px);
  padding: 0;
  display: flex;
  flex-direction: column;
  background-color: rgba(var(--v-theme-on-surface), 0.12);
  max-height: calc(100vh - 70px);
}

.shortcut-bar-bottom-item {
  margin-top: auto;
}

.shortcut-bar-list .v-list-item {
  min-height: 0;
  padding: 0;
}

.shortcut-bar-list .v-list-item__content {
  padding: 0;
}